$light-green: #10c1e4;
$green: rgba(51, 173, 51);
$light-grey: #a0a0a0;
$grey: #b3b3b5;
$dark-grey: #2b2848;
$dark-blue: #454172;
$violet: #5d2bdf;
$white: #fff;
$gradient-bg: linear-gradient(to right, $light-green, $violet);
